@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center">
   @* <h1 class="display-4">Welcome</h1>*@
    <div class="card text-white bg-primary mb-3 " style="max-width: 20rem;">
  
           <div class="card-body">
                 <h4 class="card-title">WELCOME</h4>
                 <p class="card-text">USER MANAGEMENT SYSTEM</p>
           </div>
     </div>
    
</div>
